<div class="modal-header">
    <h1 class="modal-title fs-5">Editar servicio</h1>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        
        (click)="activeModal.dismiss()"
    ></button>
</div>
<form [formGroup]="serviceForm">
    <div class="modal-body">
        <div class="form-floating border rounded mb-2">
            <input
                type="text"
                class="nombres_cy form-control"
                formControlName="nameService"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.nameService.invalid
                }"
            />
            <label>Nombre</label>
        </div>
        <div class="form-floating border rounded mb-2">
            <select 
                class="tipo_servicio_cy form-select"
                formControlName="typeService"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.typeService.invalid
                }"
            >
            <option value="">Selecciona un tipo de servicio</option>
            <option *ngFor="let tipo of typeServices" [value]="tipo">{{ tipo }}</option>
            </select>
            <label>Tipo De Servicio</label>
        </div>
        <div class="form-floating border rounded mb-2">
            <input
                type="text"
                class="proveedor_cy form-control"
                formControlName="nameSupplier"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.nameSupplier.invalid
                }"
            />
            <label>Nombre del proovedor</label>
        </div>
        <div class="form-floating border rounded mb-2">
            <input
                type="text"
                class="compañia_cy form-control"
                formControlName="company"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.company.invalid
                }"
            />
            <label>Compañia</label>
        </div>
        <div class="form-floating border rounded mb-2">
            <input
                type="text"
                class="numero_cy form-control"
                formControlName="phoneNumber"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.phoneNumber.invalid
                }"
            />
            <label>Numero Telefónico proveedor</label>
        </div>
        <div class="form-floating mt-2 border rounded is-invalid">
            <textarea
                type="text"
                class="descripcion_cy form-control"
                formControlName="description"
                style="min-height: 12em"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.description.invalid
                }"
            ></textarea>
            <label>Descripción</label>
        </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-secondary"
            (click)="activeModal.close()"
        >
            Cancelar
        </button>
        <button
            type="button"
            class="guardar_cy btn btn-primary"
            [disabled]="serviceForm.invalid"
            (click)="editService()"
        >
            Actualizar Servicio
        </button>
    </div>
    </div>
</form>
