<div class="modal-header">
    <h1 class="modal-title fs-5">Crear servicio</h1>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="activeModal.dismiss()"
    ></button>
</div>
<form [formGroup]="serviceForm">
    <div class="modal-body">
        <div class="form-floating border rounded mb-2">
            <input
                type="text"
                class="form-control"
                formControlName="nameService"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.nameService.invalid
                }"
            />
            <label>Nombre</label>
        </div>
        <div class="form-floating border rounded mb-2">
            <select 
                class="form-select"
                formControlName="typeService"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.typeService.invalid
                }"
            >
            <option value="">Selecciona un tipo de servicio</option>
            <option *ngFor="let tipo of typeServices" [value]="tipo">{{ tipo }}</option>
            </select>
            <label>Tipo De Servicio</label>
        </div>
        <div class="form-floating border rounded mb-2">
            <input
                type="text"
                class="form-control"
                formControlName="nameSupplier"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.nameSupplier.invalid
                }"
            />
            <label>Nombre del proovedor</label>
        </div>
        <div class="form-floating border rounded mb-2">
            <input
                type="text"
                class="form-control"
                formControlName="company"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.company.invalid
                }"
            />
            <label>Compañia</label>
        </div>
        <div class="form-floating border rounded mb-2">
            <input
                type="text"
                class="form-control"
                formControlName="phoneNumber"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.phoneNumber.invalid
                }"
            />
            <label>Numero Telefónico proveedor</label>
        </div>
        <div class="form-floating border rounded is-invalid">
            <textarea
                formControlName="description"
                type="text"
                class="form-control"
                style="min-height: 10em"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.description.invalid
                }"
            ></textarea>
            <label>Descripcion</label>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary"
                (click)="activeModal.close()"
            >
                Cancelar
            </button>
            <button
                type="button"
                class="btn btn-primary"
                [disabled]="serviceForm.invalid"
                style="background-color: rgb(0, 0, 0); color: rgb(181, 181, 41);"

                (click)="createService()"
            >
                Crear Servicio
            </button>
        </div>
    </div>
</form>
