<link rel="stylesheat" href="main-sidebar.component.css">

<nav
     class="navbar custom-navbar mb-3"
>   
    <div class="container-fluid justify-content-between">
        <button
            class="btn nv_cy btn-light custom-sidebar text-sm"
            type="button"
            (click)="openSidebar()"
            
        >
            <i class="bi bi-house-fill"></i>
            <br />
            Menú
        </button>
        <img id="profile-img" class="profile-img-card" src="../../../assets/img/claralia-portada.png"/>
        <a 
            routerLink="/users/{{ user ? user.id : '' }}"
            class="btn custom-sidebar btn-light d-none d-sm-block"
            type="button"
        >
            <i class="bi  bi-person-fill"></i>
            {{ user ? user.firstName : "" }}
        </a>
    </div>
</nav>
