<nav
    class="navbar navbar-dark bg-700 navbar-expand-sm border-bottom shadow mb-3"
>
    <div class="container-fluid justify-content-between">
        <button
            class="btn btn-light text-sm"
            type="button"
            
        >
            <i class="bi bi-house-fill"></i>
            <br />
            Menú
        </button>
        <a class="navbar-brand" routerLink="/home"> Claralia</a>
        <a
            
            class="btn btn-light d-none d-sm-block"
            type="button"
        >
            <i class="bi bi-person-fill"></i>
            
        </a>
    </div>
</nav>
