<div class="modal-header">
    <h1 class="modal-title fs-5">Crear Reservación</h1>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="activeModal.dismiss()"
    ></button>
</div>
<form [formGroup]="reservationForm">
    <div class="modal-body">
        <div class="form-floating border rounded">
            <input
                type="date"
                class="form-control"
                formControlName="firstName"
                [ngClass]="{
                    'is-invalid': reservationForm.controls.fecha.invalid
                }"
            />
            <label>Fecha de Reservacion</label>
        </div>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-secondary"
            (click)="activeModal.close()"
        >
            Cancelar
        </button>
        <button
            type="button"
            class="btn btn-primary"
            [disabled]="reservationForm.invalid"
            (click)="createReservation()"
            style="background-color: rgb(0, 0, 0); color: rgb(181, 181, 41);"
        >
            Guardar
        </button>
    </div>
</form>
