<div class="modal-header">
    <h1 class="modal-title fs-5">Eliminar servicio</h1>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="activeModal.dismiss()"
    ></button>
</div>
<div class="modal-body">¿Estás seguro que deseas eliminar el servicio?</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-secondary"
        (click)="activeModal.close()"
    >
        Cancelar
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteService()">
        Eliminar
    </button>
</div>
