<app-navbar></app-navbar>
<app-loader class="h-100" *ngIf="!reservation"></app-loader>

<div *ngIf="reservation">
    <h2 class="text-700 text-center">Factura {{generateSerialNumber()}} </h2>
    <h6 class="text-600 text-center border-bottom pb-3">
        {{ reservation.fecha | date: 'dd MMMM yyyy'  }} - {{reservation.fechaFin | date: 'dd MMMM yyyy'}} {{ reservation.tipoEvento }} 
    </h6>

    <div class="container">
        <div class="row" style="margin: 20px 0; font-weight: bold;">
            <div class="border rounded p-5" style="border-width: 1px !important; border-color: black !important;">

                <!-- Factura reorganizada -->
                <div class="row mb-4">
                    <div class="col">
                        <p><strong>Hora De Inicio:</strong> {{reservation.horaInicio | date: 'shortTime':'Z'}}</p>
                        <p><strong>Hora de Finalización:</strong> {{reservation.horaFin | date: 'shortTime':'Z'}}</p>
                        <p><strong>Salon:</strong> {{reservation.salon}}</p>
                        <p><strong>Cantidad de Adultos:</strong> {{reservation.cantidadAdultos}}</p>
                    </div>
                    <div class="col">
                        <p><strong>Cantidad de Niños:</strong> {{reservation.cantidadNinos}}</p>
                        <p><strong>Adelanto:</strong> {{reservation.downPayment}}</p>
                        <p><strong>Nombre Cliente:</strong> {{reservation.nameClient}}</p>
                    </div>
                </div>

                <div class="h-100 overflow-auto mh-100">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Servicio</th>
                                <th scope="col">Empresa</th>
                                <th scope="col">Tipo de Servicio</th>
                                <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let service of serviesOwnReservation">
                                <td>{{ service.nameService }}</td>
                                <td>{{ service.company }}</td>
                                <td>{{ service.typeService }}</td>
                                <td>{{ service.price | currency:'COP ':'symbol':'1.0-0' }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-end">Total Servicios:</td>
                                <td>{{ getTotalPrice() | currency:'COP ':'symbol':'1.0-0' }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-end">Costo del Alquiler del Salon:</td>
                                <td>{{ rentRoom | currency:'COP ':'symbol':'1.0-0' }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-end">Costo Total</td>
                                <td>{{ getTotalEarning() | currency:'COP ':'symbol':'1.0-0' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
