@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/utilities";

.flex-1-1-auto {
    flex: 1 1 auto;
}

.mh-min-content {
    max-height: min-content;
}

.mh-50vh {
    max-height: 50vh;
}

.h-100vh {
    height: 100vh;
}

$all-colors: map-merge-multiple(
    $blues,
    $indigos,
    $purples,
    $pinks,
    $reds,
    $oranges,
    $yellows,
    $greens,
    $teals,
    $cyans,
    $grays
);

$theme-colors-rgb: map-merge(
    $theme-colors-rgb,
    map-loop($all-colors, to-rgb, "$value")
);

$utilities: map-merge(
    $utilities,
    (
        "color":
            map-merge(
                map-get($utilities, "color"),
                (
                    values:
                        map-merge(
                            map-get(map-get($utilities, "color"), "values"),
                            ($all-colors)
                        ),
                )
            ),
        "background-color": (
            property: background-color,
            class: bg,
            local-vars: (
                "bg-opacity": 1,
            ),
            values:
                map-merge(
                    (map-loop($all-colors, rgba-css-var, "$key", "bg")),
                    (
                        "transparent": transparent,
                    )
                ),
        ),
        "bg-opacity": (
            css-var: true,
            class: bg-opacity,
            values: (
                10: 0.1,
                25: 0.25,
                50: 0.5,
                75: 0.75,
                100: 1,
            ),
        ),
    )
);

@import "bootstrap/scss/utilities/api";
@import "bootstrap/scss/root";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
