<div class="h-100 d-flex flex-column">
    <h1 class="text-700 text-center">Menú principal</h1>

    <div class="flex-1-1-auto m-auto mt-3">
        <div class="list-group px-5">
            <a
                routerLink="/users"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
                aria-current="true"
            >
                <i class="bi bi-people-fill fs-2"></i>
                <div
                    class="d-flex gap-2 w-100 justify-content-between align-items-center"
                >
                    <div>
                        <h6 class="mb-0">Usuarios</h6>
                        <p class="mb-0 opacity-75">
                            Información de los usuarios que tienen acceso a la
                            plataforma.
                        </p>
                    </div>
                </div>
            </a>
            <a
                routerLink="/clients"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
                aria-current="true"
            >
                <i class="bi bi-file-earmark-person-fill fs-2"></i>
                <div
                    class="d-flex gap-2 w-100 justify-content-between align-items-center"
                >
                    <div>
                        <h6 class="mb-0">Clientes</h6>
                        <p class="mb-0 opacity-75">
                            Información de los clientes registrados en la
                            plataforma.
                        </p>
                    </div>
                </div>
            </a>
            <a
                routerLink="/zones"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
                aria-current="true"
            >
                <i class="bi bi-map-fill fs-2"></i>
                <div
                    class="d-flex gap-2 w-100 justify-content-between align-items-center"
                >
                    <div>
                        <h6 class="mb-0">Zonas</h6>
                        <p class="mb-0 opacity-75">
                            Información de las zonas registradas en la
                            plataforma.
                        </p>
                    </div>
                </div>
            </a>
            <a
                routerLink="/hardware"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
                aria-current="true"
            >
                <i class="bi bi-motherboard-fill fs-2"></i>
                <div
                    class="d-flex gap-2 w-100 justify-content-between align-items-center"
                >
                    <div>
                        <h6 class="mb-0">Equipos</h6>
                        <p class="mb-0 opacity-75">
                            Información de los equipos registrados en la
                            plataforma.
                        </p>
                    </div>
                </div>
            </a>
            <a
                routerLink="/services"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
                aria-current="true"
            >
                <i class="bi bi-router-fill fs-2"></i>
                <div
                    class="d-flex gap-2 w-100 justify-content-between align-items-center"
                >
                    <div>
                        <h6 class="mb-0">Servicios</h6>
                        <p class="mb-0 opacity-75">
                            Información de los servicios
                            prestados por la empresa
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
